// fix deprecation warnings from foundation
$primary-color: null;
$secondary-color: null;
$success-color: null;
$warning-color: null;
$alert-color: null;
$-zf-size: null;
$-zf-bp-value: null;

$foundation-palette: (
	primary: #002A64,
	secondary: #95A5A6,
	success: #18BC9C,
	info: #3498DB,
	warning: #F39C12,
	alert: #E74C3C,
);

@import 'settings';     // *Foundswatch variant

// custom settings
$mediaobject-image-width-stacked: auto;

//rest of imports
@import 'foundation';   // Zurb Foundation 6.6.3
@include foundation-everything;
@import 'foundswatch';  // *Foundswatch variant
@import 'owl-carousel';
@import 'owl-theme';

// custom css
.logo {
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: get-color(primary);
}

.frontpage {
  background-color: get-color(primary);
  color: white;
}

.title-bar {
  background-color: get-color(primary);
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: get-color(primary);
  color: white;
}

.carousel-caption {
  color: white;
  background-color: get-color(primary);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
