{{ define "main" }}
<h2>{{ .Title }}</h2>
<h3>Windows 10</h3>

<ul>
  {{ range .Pages.ByWeight }}
    {{ $title := .Title }}
    {{ $url := .RelPermalink }}
    {{ range .GetTerms "tags" }}
      {{ if eq "win10" .Title }}
  <li><a href="{{ $url }}"><strong>{{ $title }}</strong></a></li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>

<h3>MacOS</h3>
<ul>
  {{ range .Pages.ByWeight }}
    {{ $title := .Title }}
    {{ $url := .RelPermalink }}
    {{ range .GetTerms "tags" }}
      {{ if eq "macos" .Title }}
  <li><a href="{{ $url }}"><strong>{{ $title }}</strong></a></li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
{{ end }}
