<!doctype html>
<html class="no-js" lang="en">

<head>
  <script src="https://getinsights.io/js/insights.js"></script>
  <script>
  insights.init('p4skiMHxB1aqIKwL');
  insights.trackPages();
  </script>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  {{ $css := resources.Get "sass/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  <link rel="icon" type="image/png" href="/images/sfspro-icon-32x32.png" sizes="32x32">
</head>

<body id="top-of-page">
  <div class="grid-y medium-grid-frame">
    <header class="cell medium-shrink">
      {{ partial "header.html" . }}
    </header>
    <main class="cell medium-auto medium-cell-block-container">
      <div class="grid-x grid-padding-x align-center">
        <div class="cell medium-10 large-5 cell-block-y">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </main>
    <footer class="cell medium-shrink">
      {{ partial "footer.html" . }}
    </footer>
  </div>
  {{ partial "javascript.html" . }}
</body>

</html>
