<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
<script src="/js/owl.carousel.min.js" charset="utf-8"></script>

<script>
$(document).foundation();

$(document).ready(function(){
  $(".owl-carousel").owlCarousel({
    items: 1,
    margin: 20,
    nav: true,
    loop: true
  });
});

</script>
